<a href="https://colab.research.google.com/github/brendenwest/cis276/blob/main/4_exploratory_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis

### Reading

- https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15
- https://greenteapress.com/thinkstats2/html/thinkstats2002.html


### Learning Outcomes

- exploratory data analysis
- common data plots - line, bar, scatter, histogram

### Exploratory Data Analysis (EDA)

Exploratory data analysis (EDA), is a crucial initial step for understanding a dataset and preparing for statistical analysis.

EDA answers questions such as:
- what is the data quality?
- what patterns are evident in the data?
- is the data ready to support analysis & conclusions?

EDA is the process of performing initial investigations to:
- Uncover underlying structure & patterns in the data
- Identify important variables
- Identify anomalies
- Set the stage for statisical analysis & visualization

### Understanding the data

As a first step, it's important to know your data's composition:

- how many observations?
- how many features (variables)?
- which are the dependent variables?
- what are the data types?
- are variables numeric or categorical?
- are any data missing or incorrect?
- what are the primary statistics for each feature?

You can use pandas `head()`  method to view a subset of your dataset.

In [2]:
import pandas as pd

# retrieve sample data
download_url = ("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv")
df = pd.read_csv(download_url)
df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

The `describe()` method is handy to view basic summary statistics about the data>

In [3]:
df.describe()

,Rank,Major_code,Total,Men,Women,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
count,173.000000,173.000000,172.000000,172.000000,172.000000,172.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,87.000000,3879.815029,39370.081395,16723.406977,22646.674419,0.522223,356.080925,31192.763006,26029.306358,8832.398844,19694.427746,2416.329480,0.068191,40151.445087,29501.445087,51494.219653,12322.635838,13284.497110,3859.017341
std,50.084928,1687.753140,63483.491009,28122.433474,41057.330740,0.231205,618.361022,50675.002241,42869.655092,14648.179473,33160.941514,4112.803148,0.030331,11470.181802,9166.005235,14906.279740,21299.868863,23789.655363,6944.998579
min,1.000000,1100.000000,124.000000,119.000000,0.000000,0.000000,2.000000,0.000000,111.000000,0.000000,111.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000,0.000000,0.000000,0.000000
25%,44.000000,2403.000000,4549.750000,2177.500000,1778.250000,0.336026,39.000000,3608.000000,3154.000000,1030.000000,2453.000000,304.000000,0.050306,33000.000000,24000.000000,42000.000000,1675.000000,1591.000000,340.000000
50%,87.000000,3608.000000,15104.000000,5434.000000,8386.500000,0.534024,130.000000,11797.000000,10048.000000,3299.000000,7413.000000,893.000000,0.067961,36000.000000,27000.000000,47000.000000,4390.000000,4595.000000,1231.000000
75%,130.000000,5503.000000,38909.750000,14631.000000,22553.750000,0.703299,338.000000,31433.000000,25147.000000,9948.000000,16891.000000,2393.000000,0.087557,45000.000000,33000.000000,60000.000000,14444.000000,11783.000000,3466.000000
max,173.000000,6403.000000,393735.000000,173809.000000,307087.000000,0.968954,4212.000000,307933.000000,251540.000000,115172.000000,199897.000000,28169.000000,0.177226,110000.000000,95000.000000,125000.000000,151643.000000,148395.000000,48207.000000

### Types of data

How you analyze the data will depend on its type.

- **Nominal** - categorical data with no inherent ordering between the categories (e.g. vehicle types)
- **Ordinal** - categorical data with an inherent ordering, but where the “differences” between categories has no numerical meaning (e.g. agree, strongly agree, etc)
- **Interval** - numeric data with ordering, where relative differences in interval data have meaning (e.g. temperatures)
- **Ratio** - numeric data where the ratio between measurements has some meaning

In [ ]:
# extract numeric & categorical data
numeric_features = df[["Total","Men","Women",
       "ShareWomen","Sample_size","Employed",
       "Part_time","Full_time_year_round", "Unemployed",
       "Unemployment_rate", "College_jobs","Non_college_jobs", "Low_wage_jobs",
       "Median", "P25th", "P75th"
]]

categorical_features = df[[
       "Rank","Major","Major_category",
]]

In [ ]:
# show counts for the alchohol related classes
df["Major_category"].value_counts()

Engineering                            29
Education                              16
Humanities & Liberal Arts              15
Biology & Life Science                 14
Business                               13
Health                                 12
Computers & Mathematics                11
Physical Sciences                      10
Agriculture & Natural Resources        10
Social Science                          9
Psychology & Social Work                9
Arts                                    8
Industrial Arts & Consumer Services     7
Law & Public Policy                     5
Communications & Journalism             4
Interdisciplinary                       1
Name: Major_category, dtype: int64

### Descriptive Statistics

Basic statistical measures can help you to understand the distribution of each  variable, detect outliers, and identify patterns.

**Numeric features**

Measures of **center** (e.g. mean, median, mode)

Measures of **spread** - how variable is the data (e.g. variance & standard deviation). Histograms are useful to show distribution

**outliers** are values outside common distribution. Very dataset specific. Boxplots are useful for identifying outliers.

In [ ]:
numeric_features.describe()

,Total,Men,Women,ShareWomen,Sample_size,Employed,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,College_jobs,Non_college_jobs,Low_wage_jobs,Median,P25th,P75th
count,172.000000,172.000000,172.000000,172.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,39370.081395,16723.406977,22646.674419,0.522223,356.080925,31192.763006,8832.398844,19694.427746,2416.329480,0.068191,12322.635838,13284.497110,3859.017341,40151.445087,29501.445087,51494.219653
std,63483.491009,28122.433474,41057.330740,0.231205,618.361022,50675.002241,14648.179473,33160.941514,4112.803148,0.030331,21299.868863,23789.655363,6944.998579,11470.181802,9166.005235,14906.279740
min,124.000000,119.000000,0.000000,0.000000,2.000000,0.000000,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000
25%,4549.750000,2177.500000,1778.250000,0.336026,39.000000,3608.000000,1030.000000,2453.000000,304.000000,0.050306,1675.000000,1591.000000,340.000000,33000.000000,24000.000000,42000.000000
50%,15104.000000,5434.000000,8386.500000,0.534024,130.000000,11797.000000,3299.000000,7413.000000,893.000000,0.067961,4390.000000,4595.000000,1231.000000,36000.000000,27000.000000,47000.000000
75%,38909.750000,14631.000000,22553.750000,0.703299,338.000000,31433.000000,9948.000000,16891.000000,2393.000000,0.087557,14444.000000,11783.000000,3466.000000,45000.000000,33000.000000,60000.000000
max,393735.000000,173809.000000,307087.000000,0.968954,4212.000000,307933.000000,115172.000000,199897.000000,28169.000000,0.177226,151643.000000,148395.000000,48207.000000,110000.000000,95000.000000,125000.000000



**Probability Density Function** (PDF) - a function whose value at any given sample is the relative likelihood that the value of a random variable would equal that sample. For continuous variables.

When plotted, the x-axis represents the value ranges while the y-axis represents the percentage of data points for each target value.

**Cumulative Distribution Function (CDF)** - probability that a continuous random variable has a value <= to a given value.

https://towardsdatascience.com/probability-concepts-explained-probability-distributions-introduction-part-3-4a5db81858dc

**Categorical**

Analysis usually involves tabulating range & frequency of values (counts & percents). Percentages should sum to 100%

In [ ]:
counts = categorical_features["Major_category"].value_counts()
percent100 = categorical_features["Major_category"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
light_conditions = pd.DataFrame({'counts': counts, 'Percent': percent100})
light_conditions

                                     counts Percent
Engineering                              29   16.8%
Education                                16    9.2%
Humanities & Liberal Arts                15    8.7%
Biology & Life Science                   14    8.1%
Business                                 13    7.5%
Health                                   12    6.9%
Computers & Mathematics                  11    6.4%
Physical Sciences                        10    5.8%
Agriculture & Natural Resources          10    5.8%
Social Science                            9    5.2%
Psychology & Social Work                  9    5.2%
Arts                                      8    4.6%
Industrial Arts & Consumer Services       7    4.0%
Law & Public Policy                       5    2.9%
Communications & Journalism               4    2.3%
Interdisciplinary                         1    0.6%